#list-movies {
    // border: 1px solid blue;
}
#movies {
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
}

#movie-checkbox {
padding-right: 5px;
}

#movie-title {
  flex-grow: 2;
  padding-left: 5px;
  padding-bottom: 5px;
}

#movie-rating {

}

#movie-title-remove-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

#movie-title-remove-button > button {
padding: .5em;
border: 0;
background-color: lightgray;
color: white;
}

