#list-movies {
    // border: 1px solid blue;
}
#movies {
    border: 1px solid lightgray;
    display: flex;
    gap: 12px;
    flex-direction: row;
    padding: .5em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    height: 3em;
}

#movie-checkbox {
padding-right: 5px;
}


#movie-title-remove-button {
    display: flex;
    flex-direction: row;
    
 
}

#movie-title-remove-button > button {
padding: .5em;
border: 0;
background-color: lightgray;
color: white;
width: 100%;
padding-bottom: 10px;
}

#no-line:checked + label {
    color:hsl(120, 72%, 44%);

    text-decoration: line-through;
}

#movie-title {
    position: absolute;
    padding-left: 20px;

}

#no-line {
position: relative;
appearance: none; outline: none;
width: 50px; height: 30px;
background-color: #ffffff; border: 1px solid #D9DADC;
border-radius: 50px; box-shadow: inset -20px 0 0 0 #ffffff;
transition-duration: 200ms;
}

#no-line:after {
    content: "";
position: absolute;
top: 1px; left: 1px;
width: 26px; height: 26px;
background-color: transparent;
border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

#no-line:checked {
    border-color: #4ED164;
box-shadow: inset 20px 0 0 0 #4ED164;
}

#no-line:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}